*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('./photos/background.jpg');
    background-size: cover;
    background-position: 30% 0;
}

header h1{
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.all_places{
    padding: 20px;
}

.single_place{
    margin: 10px auto;
}

.single_place img{
    width: 100%;
}

footer{
    padding: 20px;
    background-color: darkblue;
    color: white;
}

@media screen and (min-width:768px){
    .places{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .single_place{
        width: 47%;
    }

    .single_place img{
        width: 100%;
        height: 244px;
        object-fit: cover;
    }
}
    